@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

:root {
    --cor-fundo-principal: #F5F5F5; 
    --cor-texto-principal:#333333; 
    --cor-titulos: #2D3436; 
    --cor-destaques: #6C5CE7;
    --cor-detalhes-polaroid: #E0E0E0;
    --cor-hover-interacoes: #00B894;

    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: "Montserrat", sans-serif;
    --fonte-legendas-polaroid: "Pacifico", cursive;
}
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color:  var(--cor-fundo-principal);
    color: var(--cor-texto-principal);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap:80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-texto);
    font-size: 24px;
    font-weight:600;
    color: var(--cor-texto-principal);
    text-decoration: none;
}

.pagina-presente {
    padding: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagina-presente__apresentacao {
    max-width: 80%;
    display: flex;
    gap: 40px;
}

.pagina-presente__apresentacao__titulo {
    font-size: 36px;
    font-family: var(--fonte-titulo);
}

.titulo__destaque {
    color: var(--cor-destaques);
}

.pagina-presente__apresentacao__imagem {
    max-width: 50%;
    border-radius: 24px;
}

.pagina-presente__carta {
    max-width: 80%;
    padding: 5% 15% 5% 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pagina-presente__carta__titulo {
    font-size: 28px;
    font-family: var(--fonte-texto);
    text-align: center;
}

.pagina-presente__carta__texto {
    font-size: 16px;
    font-family: var(--fonte-texto);
    text-align: justify;
}

.pagina-presente__fotos {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.pagina-presente__fotos__titulo {
    font-size: 28px;
    font-family: var(--fonte-texto);
    text-align: center;
    padding-bottom: 5%;
}

.pagina-presente__fotos__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center;
    align-items: center;
}

.pagina-presente__fotos__polaroid {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 8% 8% 24% 8%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    align-items: center;
    gap:30px;
}

.pagina-presente__fotos__foto {
    max-width: 100%;
    border-radius: 4px;
}

.pagina-presente__fotos__legenda {
    font-size: 16px;
    font-family: var(--fonte-legendas-polaroid);
    text-align: center;
}
